*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Poppins;

scroll-behavior:smooth;

}


body{

background:#fff9f6;

color:#4d4d4d;

}



nav{

display:flex;

justify-content:space-between;

padding:30px 10%;

background:white;

position:sticky;
top:0;

box-shadow:0 5px 20px rgba(0,0,0,.05);

z-index:100;

}


nav ul{

display:flex;

gap:25px;

list-style:none;

}


nav a{

text-decoration:none;

color:#666;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 10%;

height:100vh;

}


.left{

width:50%;

}


.small{

color:#c58b8b;

margin-bottom:15px;

}


h1{

font-family:
Playfair Display;

font-size:60px;

margin-bottom:20px;

}


button{

padding:15px 30px;

background:#d9aaa4;

border:none;

border-radius:50px;

margin-top:30px;

cursor:pointer;

}



.right img{

width:350px;

border-radius:50%;

border:10px solid white;

box-shadow:0 15px 40px rgba(0,0,0,.1);

}



section{

padding:100px 10%;

}


h2{

font-family:Playfair Display;

margin-bottom:40px;

font-size:40px;

}



.card{

background:white;

padding:35px;

border-radius:30px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}



.timeline{

display:flex;

gap:25px;

flex-wrap:wrap;

}



.timeline div{

background:white;

padding:30px;

border-radius:30px;

flex:1;

box-shadow:0 10px 20px rgba(0,0,0,.05);

}



.skills{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}



.box{

background:white;

padding:30px;

border-radius:30px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.05);

}



.gallery{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.gallery img{

width:280px;

border-radius:25px;

}



footer{

text-align:center;

padding:60px;

}
